version: 2
jobs:
  build_3_10:
    working_directory: ~
    docker:
      - image: marcusrickert/docker-python-app:3.10
    steps:
      - checkout
      - run: apt-get update
      - run: apt-get -y install python3-pip
      - run: pip3 install -r requirements.txt
      - run: PYTHONPATH=some_flask_helpers python3 -m unittest
  build_3_11:
    working_directory: ~
    docker:
      - image: marcusrickert/docker-python-app:3.11
    steps:
      - checkout
      - run: apt-get update
      - run: apt-get -y install python3-pip
      - run: pip3 install -r requirements.txt
      - run: PYTHONPATH=some_flask_helpers python3 -m unittest
  build_3_12:
    working_directory: ~
    docker:
      - image: marcusrickert/docker-python-app:3.12
    steps:
      - checkout
      - run: apt-get update
      - run: apt-get -y install python3-pip
      - run: pip3 install -r requirements.txt
      - run: PYTHONPATH=some_flask_helpers python3 -m unittest
  build_3_13:
    working_directory: ~
    docker:
      - image: marcusrickert/docker-python-app:3.13
    steps:
      - checkout
      - run: apt-get update
      - run: apt-get -y install python3-pip
      - run: pip3 install -r requirements.txt
      - run: PYTHONPATH=some_flask_helpers python3 -m unittest

workflows:
    version: 2
    build:
      jobs:
        - build_3_10
        - build_3_11
        - build_3_12
        - build_3_13
